[Unit]
Description=LED Blink service
DefaultDependencies=no

[Service]
ExecStart=/usr/local/bin/main_pi
WorkingDirectory=/usr/local/bin
StandardOutput=inherit
StandardError=inherit
Restart=no
User=pi

[Install]
WantedBy=sysinit.target
